#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_stashcoin
#build/stashcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_stashcoin)

DEB_INSTALL_EXAMPLES_stashcoind += debian/examples/*
DEB_INSTALL_MANPAGES_stashcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix stashcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f stashcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake stashcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_stashcoin
	src/test_stashcoin

# Ensure wrapper is set executable
binary-post-install/stashcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/stashcoind
binary-post-install/stashcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/stashcoin-qt
